html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: auto;
}

.text-center{
    text-align: center;
}

.padding-y{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem
}

.btn-primary {
    color: #fff;
    background-color: #12bbad;
    border-color: #12bbad;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
.btn-primary:hover {
    color: #fff;
    background-color: #0f988d;
    border-color: #0e8c82; }
.btn-primary:focus, .btn-primary.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(54, 197, 185, 0.5); }
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #12bbad;
    border-color: #12bbad; }
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0e8c82;
    border-color: #0c8177; }
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(54, 197, 185, 0.5); }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.75rem;
    text-align: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 200;
    line-height: 1.2; }

.image-bg{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)),
                    url(/images/img.jpg);
                    background-position: center center, center center;
    background-size: auto;
    background-repeat: repeat, repeat;
}

.delete-btn:hover{
    background-color: red;
}

.back-image{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)),
                                         url(/images/img.jpg);
                                         background-position: center center, center center;
                         background-size: auto;
                         background-repeat: repeat, repeat;
}

#topheader .navbar-nav li > a {
  	text-transform: capitalize;
  	color: #AFEEEE;
  	transition: background-color .2s, color .2s;
  }

#topheader .navbar-nav li.active > a {
  	background-color: #AFEEEE;
  	color: #fff;
}

.own-link{
    padding-left: 2rem;
}


a:hover {
    text-decoration: underline;
}